@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        Bienvenido(a).
        En este sistema podrá consultar las compras registradas y realizar abonos parciales
        de manera ordenada y segura.
    </p>
</div>
